<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Bikers Club</title>

    <body>
        <!--//////////////////////////////////////////////////// inicio header ////////////////////////////////////////////////////////////-->
        <%- include('./partial/header.ejs') %>
            <!--//////////////////////////////////////////////////// inicio main ////////////////////////////////////////////////////////////-->
            <main>
                <section class="div-contenedorPrincipal">
                    <img src="<%= producto.img %>" alt="">
                    <div class="div-contenedor-texto">
                        <h3 class="nombre-del-producto"><%= producto.titulo %> </h3>
                        <p class="contenedor-descripcionDelProducto"><%= producto.descripcion %></p>
                        <p class="precio"><%= producto.precio %></p>
                        <section class="cantidadYCarrito">
                            <button class="boton-carrito" onclick='agregarCarrito'>Agregar al carrito</button>
                        </section>
                    </div>
                </section>
            </main>
            <!--//////////////////////////////////////////////////// final main ////////////////////////////////////////////////////////////-->
            <!--//////////////////////////////////////////////////// inicio footer /////////////////////////////////////////////////////////-->
            <%- include('./partial/footer.ejs') %>
    </body>

</html>