<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Bikers Club</title>

    <body>
        <!--//////////////////////////////////////////////////// inicio header ////////////////////////////////////////////////////////////-->
        <%- include('./partial/header.ejs') %>
            <!--//////////////////////////////////////////////////// inicio main ////////////////////////////////////////////////////////////-->
            <main>
                <section class="div-contenedorPrincipal">
                    <img class="imagenDetalle" src="/images/img/<%=producto.image%>" alt="<%=producto.name%>">
                    <div class="div-contenedor-texto">
                        <h3 class="nombre-del-producto">
                            <%=producto.name%>
                        </h3>
                        <p class="contenedor-descripcionDelProducto">
                            <%=producto.description%>
                        </p>
                        <p class="precio">$ <%=producto.price%>
                        </p>
                        <% if (locals.isLogged) { %>
                        <section class="cantidadYCarrito">
                            <button class="boton-carrito" type="submit" data-id="<%=producto.id%>">Agregar al
                                carrito</button>
                        </section>
                        <% } else { %>

                            <section class="cantidadYCarrito">
                                <button class="boton-carrito" type="submit" data-id="<%=producto.id%>">Agregar al
                                    carrito</button>
                                <form action="/productos/<%=producto.id%>/edit">
                                    <button type="submit" class="boton-editarProducto">Editar</button>
                                </form>
                            </section>

                        <% } %>
                    </div>
                </section>
            </main>
            <!--//////////////////////////////////////////////////// final main ////////////////////////////////////////////////////////////-->
            <!--//////////////////////////////////////////////////// inicio footer /////////////////////////////////////////////////////////-->
            <%- include('./partial/footer.ejs') %>
    </body>

</html>