<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Editar Bikers</title>

    <body>
        <%- include('./partial/header.ejs') %>
            <main id="anadir">

                <h2 class="titulo-a침adir-producto">Editar producto</h2> <br>

                <section class="inputs">
                    <form method="POST" action="/productos/<%= productToEdit.id%>?_method=PATCH" class="input-group mb-3">
                        <input id="titulo" name="titulo" value="<%= productToEdit.titulo%>" type="text" class="form-Articulo" placeholder="Articulo" aria-label="Server"><br>
                        <div class="input-image">
                            <label for="image" class="label-imagen">Ingresar imagen del producto</label>
                            <input id="img" type="file" class="form-imagen" name="img">
                        </div><br>
                        <input id="descripcion" name="descripcion" value="<%= productToEdit.descripcion%>" type="text" class="form-text-2" aria-label="descripci칩n corta del producto"
                            placeholder="descripci칩n corta del producto"><br>
                        <input id="descripcionLarga" name="descripcionLarga" value="<%= productToEdit.descripcionLarga%>" type="text" class="form-text" aria-label="Amount (to the nearest dollar)"
                            placeholder="descripci칩n"><br>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input id="precio" name="precio" value="<%= productToEdit.precio%>" type="number" class="form-Dinero" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-text">.00</span>
                        </div><br>

                        <button type="submit" class="boton-crearProducto">Editar producto</button>
                    </form>
                    <form action="/productos/<%= productToEdit.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-crearProducto">ELIMINAR</button>
                    </form>

                </section>

            </main>

            <%- include('./partial/footer.ejs') %>

    </body>

</html>