<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>B of Bikers</title>

    <body>

        <%- include('./partial/header.ejs') %>


            <!--////////////////////////////////////////////////////////////// INICIO MAIN ////////////////////////////////////////////////////////-->

            <main>
                <div class="anuncio">
                    <a class="anuncioa" href="#"><img class="propagandita"
                            src="\images\img\propagandita.PNG" alt="anuncio"></a>

                </div>
                <h1 class="tituloProductosInteres">PRODUCTOS QUE TE PUEDEN INTERESAR</h1>

                <div class="productosInteres">
                    <% for(let i=0; i<accesorios.length; i++) { %>

                        <div class="cuadritos">
<<<<<<< HEAD
=======
                            <img class="imagen" src="/images/img/<%=accesorios[i].image%>" alt="<%= accesorios[i].name%>">
                            <h4 class="textoHome">
                                <%=accesorios[i].description%>
>>>>>>> 80cc5ac135574873ebcace192697c3c204d70160
                            </h4>
                            <form action="/productos/detalle/<%= accesorios[i].id %>">
                                <button type="submit">Ver productos</button>
                            </form>
                        </div>

                        <% }%>
                </div>

            </main>

            <%- include('./partial/footer.ejs') %>

    </body>

</html>