<!DOCTYPE html>
<html lang="en">

<%- include('./partial/head.ejs') %>
    <title>Registro</title>

    <body>
        <%- include('./partial/header.ejs') %>
            <main class="main1">
                <h1 class="register">Registro</h1>
                <p class="leyend">Por favor ingrese la información requerida para el registro</p>
                <form action="/" method="post" class="form">
                    <fieldset>
                        <label>Nombres <input type="text" required name="name"
                                value="<%= locals.oldData ? oldData.login_name : null %>"></label>
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                                <label>Apellidos <input type="text" required name="last_name"></label>
                                <% if (locals.errors && errors.last_name) { %>
                                    <div class="text-danger">
                                        <%= errors.last_name.msg %>
                                    </div>
                                    <% } %>
                                        <label>E-mail <input type="email" required name="email"
                                                placeholder="@domain.com"></label>
                                        <% if (locals.errors && errors.email) { %>
                                            <div class="text-danger">
                                                <%= errors.email.msg %>
                                            </div>
                                            <% } %>
                                                <label>Contraseña <input type="password" required
                                                        name="password"></label>
                                                <label>Confirmar Contraseña <input type="password" required
                                                        name="confirm_password"></label>
                                                <% if (locals.errors && errors.confirm_password) { %>
                                                    <div class="text-danger">
                                                        <%= errors.confirm_password.msg %>
                                                    </div>
                                                    <% } %>
                                                        <label for="">Tipo de usuario</label>
                                                        <select name="categoria" id="">
                                                            <option value="admin">Admin</option>
                                                            <option value="user">User</option>
                                                        </select>
                    </fieldset>
                    <fieldset>
                        <label><input class="inline" type="checkbox" required name="terms"> Acepto los <a
                                href="#">Términos y
                                Condiciones</a></label>
                    </fieldset>
                    <input type="submit" value="Enviar">
                </form>
            </main>
            <%- include('./partial/footer.ejs') %>
    </body>

</html>